#sidebar{
    background: rgb(0,159,219);
    background: linear-gradient(45deg, rgba(0,159,219,1) 0%, rgba(0,69,255,1) 75%);
    height: 100%;
    min-height: 100vh;
    min-width: 280px;
}

.list a {
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    text-decoration: none;
}